---
title: Eleventy Test Page
---
doctype html
html(lang="en")
  head
    title= title
  body
    h1= title
    p.
      This is just a test page.
    footer Created with 
      a(href="https://github.com/zachleat/eleventy") Eleventy
